<html>
<head>
    <title></title>
    <link href="../css/feltipen.popup.css" type="text/css" rel="stylesheet" />
    <script type="text/javascript" src="../scripts/plugin.jquery.min.js"></script>
    <script type="text/javascript" src="../scripts/feltipen.popup.js"></script>
</head>
<body>
    <ul>
        <li id="markText"><span></span>Mark Selected Text</li>
        <hr />
        <li id="toggleMarkings"><span></span>Hide/Show Markings</li>
        <li id="removeMarkings" title="Permanently remove markings from this page"><span></span>Remove Markings</li>
    </ul>
</body>
</html>